apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "queryService.fullname" . }}
  labels:
    {{- include "queryService.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "queryService.fullname" . }}
  replicas: {{ .Values.queryService.replicaCount }}
  selector:
    matchLabels:
      {{- include "queryService.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "queryService.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "queryService.serviceAccountName" . }}
      {{- if .Values.queryService.initContainers.init.enabled }}
      initContainers:
        {{- if .Values.queryService.initContainers.init.enabled }}
        - name: {{ include "queryService.fullname" . }}-init
          image: {{ include "queryService.initContainers.init.image" . }}
          imagePullPolicy: {{ .Values.queryService.initContainers.init.image.pullPolicy | quote }}
          command:
          {{- range .Values.queryService.initContainers.init.command }}
            - {{ . | quote }}
          {{- end }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
        {{- with .Values.queryService.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 8 }}
        {{- end }}
          securityContext:
            {{- toYaml .Values.queryService.securityContext | nindent 12 }}
          image: {{ template "queryService.image" . }}
          imagePullPolicy: {{ .Values.queryService.image.pullPolicy }}
          args: ["-config=/root/config/prometheus.yml"]
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
          - name: DruidClientUrl
            value: {{ .Values.queryService.configVars.DruidClientUrl }}
          - name: DruidDatasource
            value: {{ .Values.queryService.configVars.DruidDatasource }}
          - name: STORAGE
            value: {{ .Values.queryService.configVars.STORAGE }}
          - name: ClickHouseUrl
            value: {{ .Values.queryService.configVars.ClickHouseUrl}}
          - name: ALERTMANAGER_API_PREFIX
            value: http://{{ include "alertmanager.servicename" . }}:{{ .Values.alertmanager.service.port }}/api/
          - name: GODEBUG
            value: netdns=go
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          volumeMounts:
          - name: prometheus
            mountPath: /root/config
          - name: signoz-db
            mountPath: /var/lib/signoz/
          - name: dashboards
            mountPath: /root/config/dashboards
          resources:
            {{- toYaml .Values.queryService.resources | nindent 12 }}
      {{- with .Values.queryService.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.queryService.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.queryService.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      - name: prometheus
        configMap:
          name: prometheus-config
      - name: dashboards
        emptyDir: {}

  volumeClaimTemplates:
  - metadata:
      name: signoz-db
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
