apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "otelAgent.fullname" . }}
  namespace: {{ include "k8s-infra.namespace" . }}
  labels:
    {{- include "otelAgent.labels" . | nindent 4 }}
  {{- if .Values.otelAgent.annotations }}
  annotations:
    {{ toYaml .Values.otelAgent.annotations | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "otelAgent.selectorLabels" . | nindent 6 }}
  minReadySeconds: {{ .Values.otelAgent.minReadySeconds }}
  template:
    metadata:
      annotations:
        {{- if .Values.otelAgent.podAnnotations }}
          {{- toYaml .Values.otelAgent.podAnnotations | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/otel-agent/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "otelAgent.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "otelAgent.serviceAccountName" . }}
      containers:
        - name: {{ include "otelAgent.fullname" . }}
          image: {{ include "otelAgent.image" . }}
          imagePullPolicy: {{ .Values.otelAgent.image.pullPolicy }}
          ports:
          {{- range $key, $port := .Values.otelAgent.ports }}
            {{- if $port.enabled }}
            - name: {{ $key }}
              containerPort: {{ $port.containerPort }}
              protocol: {{ $port.protocol }}
              {{- if $port.hostPort }}
              hostPort: {{ $port.hostPort }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- with .Values.otelDeployment.command.name }}
          command:
            - {{ . | quote }}
          {{- end }}
          args:
            {{- if .Values.otelDeployment.configMap.create }}
            - "--config=/conf/otel-agent-config.yaml"
            {{- end }}
            {{- range .Values.otelDeployment.command.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: K8S_NAMESPACE
              valueFrom:
                  fieldRef:
                    fieldPath: metadata.namespace
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: host.name=$(K8S_NODE_NAME)
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ include "otel.endpoint" . }}
            - name: OTEL_EXPORTER_OTLP_INSECURE
              value: {{ include "otel.insecure" . }}
            - name: SIGNOZ_API_KEY
              value: {{ include "otel.signozApiKey" . }}
          volumeMounts:
            - name: otel-agent-config-vol
              mountPath: /conf
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            # - name: otel-agent-secrets
            #   mountPath: /secrets
          {{- if .Values.otelAgent.livenessProbe.enabled }}
          livenessProbe:
            {{- with .Values.otelDeployment.livenessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelAgent.customLivenessProbe }}
          livenessProbe: {{- toYaml .Values.otelAgent.customLivenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.otelAgent.readinessProbe.enabled }}
          readinessProbe:
            {{- with .Values.otelDeployment.readinessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelAgent.customReadinessProbe }}
          readinessProbe: {{- toYaml .Values.otelAgent.customReadinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.otelAgent.resources | nindent 12 }}
      {{- with .Values.otelAgent.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelAgent.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelAgent.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: otel-agent-config-vol
          configMap:
            name: {{ include "otelAgent.fullname" . }}
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
#        - secret:
#            name: otel-agent-secrets
#            items:
#              - key: cert.pem
#                path: cert.pem
#              - key: key.pem
#                path: key.pem
