{{- if .Values.otelAgent.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "otelAgent.fullname" . }}
  namespace: {{ include "k8s-infra.namespace" . }}
  labels:
    {{- include "otelAgent.labels" . | nindent 4 }}
  {{- if .Values.otelAgent.annotations }}
  annotations:
    {{ toYaml .Values.otelAgent.annotations | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "otelAgent.selectorLabels" . | nindent 6 }}
  minReadySeconds: {{ .Values.otelAgent.minReadySeconds }}
  template:
    metadata:
      annotations:
        {{- with .Values.otelAgent.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/otel-agent/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "otelAgent.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "otelAgent.imagePullSecrets" . | indent 6 }}
      serviceAccountName: {{ include "otelAgent.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.otelAgent.podSecurityContext | nindent 8 }}
      priorityClassName: {{ .Values.otelAgent.priorityClassName | quote }}
      {{- with .Values.otelAgent.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelAgent.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelAgent.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: otel-agent-config-vol
          configMap:
            name: {{ include "otelAgent.fullname" . }}
        - name: varlog
          hostPath:
            path: /var/log
        {{- if ne .Values.global.cloud "gcp/autogke" }}
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        {{- end }}
        {{- if .Values.otelTlsSecrets.enabled }}
        - name: {{ include "k8s-infra.fullname" . }}-agent-secrets-vol
          secret:
           secretName: {{ include "k8s-infra.otelTlsSecretName" . }}
           items:
             - key: cert.pem
               path: cert.pem
             - key: key.pem
               path: key.pem
        {{- end }}
      containers:
        - name: {{ include "otelAgent.fullname" . }}
          image: {{ include "otelAgent.image" . }}
          imagePullPolicy: {{ .Values.otelAgent.image.pullPolicy }}
          ports:
          {{- range $key, $port := .Values.otelAgent.ports }}
            {{- if $port.enabled }}
            - name: {{ $key }}
              containerPort: {{ $port.containerPort }}
              protocol: {{ $port.protocol }}
              {{- if and $port.hostPort (ne $.Values.global.cloud "gcp/autogke") }}
              hostPort: {{ $port.hostPort }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- with .Values.otelAgent.command.name }}
          command:
            - {{ . | quote }}
          {{- end }}
          args:
            {{- if .Values.otelAgent.configMap.create }}
            - "--config=/conf/otel-agent-config.yaml"
            {{- end }}
            {{- range .Values.otelAgent.command.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          env:
            {{- include "snippet.otlp-env" . | nindent 12 }}
            {{- include "snippet.k8s-env" . | nindent 12 }}
            - name: K8S_CLUSTER_NAME
              value: {{ default .Values.global.clusterName .Values.clusterName }}
            - name: SIGNOZ_COMPONENT
              value: {{ default "otel-agent" .Values.otelAgent.name }}
            - name: OTEL_RESOURCE_ATTRIBUTES
              {{- $attribs := "signoz.component=$(SIGNOZ_COMPONENT),k8s.cluster.name=$(K8S_CLUSTER_NAME),k8s.pod.uid=$(K8S_POD_UID),k8s.pod.ip=$(K8S_POD_IP)" }}
              {{- if .Values.presets.resourceDetection.envResourceAttributes }}
              {{- $attribs = printf "%s,%s" $attribs .Values.presets.resourceDetection.envResourceAttributes }}
              {{- end }}
              value: {{ $attribs | quote }}
            {{- range $key, $val := .Values.otelAgent.additionalEnvs }}
            - name: {{ $key }}
              value: {{ $val | toYaml }}
            {{- end }}
          securityContext:
            {{- toYaml .Values.otelAgent.securityContext | nindent 12 }}
          volumeMounts:
            - name: otel-agent-config-vol
              mountPath: /conf
            - name: varlog
              mountPath: /var/log
              readOnly: true
            {{- if ne .Values.global.cloud "gcp/autogke" }}
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            {{- end }}
            {{- if .Values.otelTlsSecrets.enabled }}
            - name: {{ include "k8s-infra.fullname" . }}-agent-secrets-vol
              mountPath: {{ default "/secrets" .Values.otelTlsSecrets.path }}
            {{- end }}
          {{- if .Values.otelAgent.livenessProbe.enabled }}
          livenessProbe:
            {{- with .Values.otelAgent.livenessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelAgent.customLivenessProbe }}
          livenessProbe: {{- toYaml .Values.otelAgent.customLivenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.otelAgent.readinessProbe.enabled }}
          readinessProbe:
            {{- with .Values.otelAgent.readinessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelAgent.customReadinessProbe }}
          readinessProbe: {{- toYaml .Values.otelAgent.customReadinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.otelAgent.resources | nindent 12 }}
{{- end }}
