{{- if and .Values.otelAgent.serviceAccount.create .Values.otelAgent.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "otelAgent.serviceAccountName" . }}
  namespace: {{ include "k8s-infra.namespace" . }}
  labels:
    {{- include "otelAgent.labels" . | nindent 4 }}
  {{- with .Values.otelAgent.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- include "otelAgent.imagePullSecrets" . }}
{{- end }}
