{{- if .Values.otelDeployment.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "otelDeployment.fullname" . }}
  namespace: {{ include "k8s-infra.namespace" . }}
  labels:
    {{- include "otelDeployment.labels" . | nindent 4 }}
  {{- if .Values.otelDeployment.annotations }}
  annotations:
    {{ toYaml .Values.otelDeployment.annotations | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "otelDeployment.selectorLabels" . | nindent 6 }}
  minReadySeconds: {{ .Values.otelDeployment.minReadySeconds }}
  progressDeadlineSeconds: {{ .Values.otelDeployment.progressDeadlineSeconds }}
  replicas: {{ .Values.otelDeployment.replicaCount }}
  template:
    metadata:
      annotations:
        {{- with .Values.otelDeployment.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/otel-deployment/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "otelDeployment.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "otelDeployment.imagePullSecrets" . | indent 6 }}
      serviceAccountName: {{ include "otelDeployment.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.otelDeployment.podSecurityContext | nindent 8 }}
      priorityClassName: {{ .Values.otelDeployment.priorityClassName | quote }}
      {{- with .Values.otelDeployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelDeployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.otelDeployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: otel-deployment-config-vol
          configMap:
            name: {{ include "otelDeployment.fullname" . }}
        {{- if .Values.otelTlsSecrets.enabled }}
        - name: {{ include "k8s-infra.fullname" . }}-deployment-secrets-vol
          secret:
            secretName: {{ include "k8s-infra.otelTlsSecretName" . }}
            items:
              - key: cert.pem
                path: cert.pem
              - key: key.pem
                path: key.pem
        {{- end }}
      containers:
        - name: {{ template "otelDeployment.fullname" . }}
          image: {{ template "otelDeployment.image" . }}
          imagePullPolicy: {{ .Values.otelDeployment.image.pullPolicy }}
          ports:
            {{- range $key, $port := .Values.otelDeployment.ports }}
            {{- if $port.enabled }}
            - name: {{ $key }}
              containerPort: {{ $port.containerPort }}
              protocol: {{ $port.protocol }}
            {{- end }}
            {{- end }}
          {{- with .Values.otelDeployment.command.name }}
          command:
            - {{ . | quote }}
          {{- end }}
          args:
            {{- if .Values.otelDeployment.configMap.create }}
            - "--config=/conf/otel-deployment-config.yaml"
            {{- end }}
            {{- range .Values.otelDeployment.command.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          securityContext:
            {{- toYaml .Values.otelDeployment.securityContext | nindent 12 }}
          env:
            {{- include "snippet.otlp-env" . | nindent 12 }}
            {{- include "snippet.k8s-env" . | nindent 12 }}
            - name: K8S_CLUSTER_NAME
              value: {{ default .Values.global.clusterName .Values.clusterName }}
            - name: SIGNOZ_COMPONENT
              value: {{ default "otel-deployment" .Values.otelDeployment.name }}
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: signoz.component=$(SIGNOZ_COMPONENT),k8s.cluster.name=$(K8S_CLUSTER_NAME)
            {{- range $key, $val := .Values.otelDeployment.additionalEnvs }}
            - name: {{ $key }}
              value: {{ $val | toYaml }}
            {{- end }}
          volumeMounts:
            - name: otel-deployment-config-vol
              mountPath: /conf
            {{- if .Values.otelTlsSecrets.enabled }}
            - name: {{ include "k8s-infra.fullname" . }}-deployment-secrets-vol
              mountPath: {{ default "/secrets" .Values.otelTlsSecrets.path }}
            {{- end }}
          {{- if .Values.otelDeployment.livenessProbe.enabled }}
          livenessProbe:
            {{- with .Values.otelDeployment.livenessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelDeployment.customLivenessProbe }}
          livenessProbe:
            {{- toYaml .Values.otelDeployment.customLivenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.otelDeployment.readinessProbe.enabled }}
          readinessProbe:
            {{- with .Values.otelDeployment.readinessProbe }}
            httpGet:
              port: {{ .port }}
              path: {{ .path }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
            {{- end }}
          {{- else if .Values.otelDeployment.customReadinessProbe }}
          readinessProbe:
            {{- toYaml .Values.otelDeployment.customReadinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.otelDeployment.resources | nindent 12 }}
{{- end }}
