{{- if .Values.otelCollectorMetrics.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otelCollectorMetrics.fullname" . }}
  labels:
    {{- include "otelCollectorMetrics.labels" . | nindent 4 }}
data:
  otel-collector-metrics-config.yaml: |-
    {{- toYaml .Values.otelCollectorMetrics.config | nindent 4 }}
{{- end }}
