apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: {{ include "clickhouse.fullname" . }}
  namespace: {{ include "clickhouse.namespace" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
spec:
  defaults:
    templates:
      {{- if and (.Values.persistence.enabled) (not .Values.persistence.existingClaim) }}
      dataVolumeClaimTemplate: data-volumeclaim-template
      # logVolumeClaimTemplate: log-volumeclaim-template
      {{- end }}
      serviceTemplate: service-template

  configuration:
    users:
      {{ .Values.user }}/password: {{ .Values.password }}
      {{ .Values.user }}/networks/ip:
        {{- range $.Values.allowedNetworkIps }}
        - {{ . | quote }}
        {{- end }}
      {{ .Values.user }}/profile: default
      {{ .Values.user }}/quota: default

    profiles:
      {{- merge dict .Values.profiles .Values.defaultProfiles | toYaml | nindent 6 }}

    clusters:
      - name: {{ .Values.cluster | quote }}
        templates:
          podTemplate: pod-template
        layout:
          {{- toYaml .Values.layout | nindent 10 }}

    settings:
      {{- merge dict .Values.settings .Values.defaultSettings | toYaml | nindent 6 }}

    files:
      events.proto: |
        syntax = "proto3";
        message Event {
          string uuid = 1;
          string event = 2;
          string properties = 3;
          string timestamp = 4;
          uint64 team_id = 5;
          string distinct_id = 6;
          string created_at = 7;
          string elements_chain = 8;
        }
      {{- if .Values.coldStorage.enabled }}
      config.d/storage.xml: |
        <clickhouse>
          <storage_configuration>
            <disks>
              <!--
                default disk is special, it always exists even if not explicitly configured here,
                but you can't change it's path here (you should use <path> on top level config instead)
              -->
              <default>
                <!--
                  You can reserve some amount of free space on any disk (including default) by adding
                  keep_free_space_bytes tag.
                -->
                <keep_free_space_bytes>{{ .Values.coldStorage.defaultKeepFreeSpaceBytes }}</keep_free_space_bytes>
              </default>
              {{- if eq .Values.coldStorage.type "s3" }}
              <s3>
                <type>s3</type>
                <endpoint>{{ .Values.coldStorage.endpoint }}</endpoint>
                {{- if .Values.coldStorage.role.enabled }}
                <use_environment_credentials>true</use_environment_credentials>
                {{- else }}
                <access_key_id>{{ .Values.coldStorage.accessKey }}</access_key_id>
                <secret_access_key>{{ .Values.coldStorage.secretAccess }}</secret_access_key>
                {{- end }}
              </s3>
              {{- else if eq .Values.coldStorage.type "gcs" }}
              <gcs>
                <support_batch_delete>false</support_batch_delete>
                <type>s3</type>
                <endpoint>{{ .Values.coldStorage.endpoint }}</endpoint>
                <access_key_id>{{ .Values.coldStorage.accessKey }}</access_key_id>
                <secret_access_key>{{ .Values.coldStorage.secretAccess }}</secret_access_key>
              </gcs>
              {{- end }}
            </disks>
            <policies>
              <tiered>
                <volumes>
                  <default>
                    <disk>default</disk>
                  </default>
                  <s3>
                    <disk>{{ .Values.coldStorage.type }}</disk>
                    <perform_ttl_move_on_insert>0</perform_ttl_move_on_insert>
                    <prefer_not_to_merge>1</prefer_not_to_merge>
                  </s3>
                </volumes>
                <move_factor>0</move_factor>
              </tiered>
            </policies>
          </storage_configuration>
        </clickhouse>
      {{- end }}
      {{ include "clickhouse.files" . | indent 6 }}

    zookeeper:
      nodes:
      {{- if .Values.externalZookeeper }}
        {{- toYaml .Values.externalZookeeper.servers | nindent 8 }}
      {{- else }}
        {{- $replicaCount := default 1 (.Values.zookeeper.replicaCount | int) }}
        {{- $svcName := (include "clickhouse.zookeeper.servicename" .) }}
        {{- $headlessSuffix := (include "clickhouse.zookeeper.headlessSvcSuffix" .) }}
        {{- range $replicaIndex := until $replicaCount }}
        - host: {{ printf "%s-%s.%s" $svcName ($replicaIndex | toString) $headlessSuffix }}
          port: {{ include "clickhouse.zookeeper.port" . }}
        {{- end }}
      {{- end }}

  templates:
    podTemplates:
      - name: pod-template
        metadata:
          labels:
            {{- include "clickhouse.labels" . | nindent 12 }}
            {{- if .Values.podLabels }}
            {{- toYaml .Values.podLabels | nindent 12 }}
            {{- end }}
          {{- with .Values.podAnnotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- with .Values.podDistribution }}
        podDistribution:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        spec:
          {{- include "clickhouse.imagePullSecrets" . | indent 10 }}
          serviceAccountName: {{ include "clickhouse.serviceAccountName" . }}
          priorityClassName: {{ .Values.priorityClassName | quote }}
          {{- if .Values.affinity }}
          affinity: {{ toYaml .Values.affinity | nindent 12 }}
          {{- end }}
          {{- if .Values.tolerations }}
          tolerations: {{ toYaml .Values.tolerations | nindent 12 }}
          {{- end }}
          {{- if .Values.nodeSelector }}
          nodeSelector: {{ toYaml .Values.nodeSelector | nindent 12 }}
          {{- end }}
          {{- with .Values.topologySpreadConstraints }}
          topologySpreadConstraints: {{ toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.securityContext.enabled }}
          securityContext: {{- omit .Values.securityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}

          volumes:
            - name: shared-binary-volume
              emptyDir: {}
            - name: custom-functions-volume
              configMap:
                name: {{ include "clickhouse.fullname" . }}-custom-functions
            - name: scripts
              configMap:
                name: {{ include "clickhouse.fullname" . }}-scripts
          {{- if and (not .Values.templates.volumeClaimTemplates) (not .Values.persistence.enabled) }}
            - name: data-volume
              emptyDir: {}
          {{- else if .Values.persistence.existingClaim }}
            - name: existing-volumeclaim
              persistentVolumeClaim:
                claimName: {{ .Values.persistence.existingClaim }}
          {{- end }}
          {{- if .Values.logs.system.enabled }}
            - name: logs-system-config
              configMap:
                name: {{ include "clickhouse.fullname" . }}-logs-system-config
          {{- end }}
          {{- if .Values.additionalVolumes }}
            {{- toYaml .Values.additionalVolumes | nindent 12 }}
          {{- end }}

          {{- if .Values.initContainers.enabled }}
          initContainers:
            {{- if .Values.initContainers.udf.enabled }}
            - name: {{ include "clickhouse.fullname" . }}-udf-init
              image: {{ include "clickhouse.initContainers.udf.image" . }}
              imagePullPolicy: {{ .Values.initContainers.udf.image.pullPolicy }}
              command:
                {{- toYaml .Values.initContainers.udf.command | nindent 16 }}
              volumeMounts:
                - name: shared-binary-volume
                  mountPath: /var/lib/clickhouse/user_scripts
            {{- end }}
            {{- if .Values.initContainers.init.enabled }}
            - name: {{ include "clickhouse.fullname" . }}-init
              image: {{ include "clickhouse.initContainers.init.image" . }}
              imagePullPolicy: {{ .Values.initContainers.init.image.pullPolicy }}
              command:
                {{- toYaml .Values.initContainers.init.command | nindent 16 }}
            {{- end }}
          {{- end }}
          containers:
            - name: clickhouse
              # KEEP CLICKHOUSE-SERVER VERSION IN SYNC WITH
              # https://github.com/SigNoz/signoz/blob/main/deploy/docker/clickhouse-setup/docker-compose.yaml#L5
              image: {{ template "clickhouse.image" . }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command:
                - /bin/bash
                - -c
                - /usr/bin/clickhouse-server --config-file=/etc/clickhouse-server/config.xml
              ports:
                - name: http
                  containerPort: 8123
                - name: client
                  containerPort: 9000
                - name: interserver
                  containerPort: 9009
              
              {{- if .Values.startupProbe.enabled }}
              startupProbe:
                httpGet:
                  port: {{ .Values.startupProbe.port }}
                  path: {{ .Values.startupProbe.path }}
                initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
                periodSeconds: {{ .Values.startupProbe.periodSeconds }}
                timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
                successThreshold: {{ .Values.startupProbe.successThreshold }}
                failureThreshold: {{ .Values.startupProbe.failureThreshold }}
              {{- else if .Values.customStartupProbe }}
              startupProbe:
                {{- toYaml .Values.customStartupProbe | nindent 16 }}
              {{- end }}
              {{- if .Values.livenessProbe.enabled }}
              livenessProbe:
                httpGet:
                  port: {{ .Values.livenessProbe.port }}
                  path: {{ .Values.livenessProbe.path }}
                initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
                periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
                timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
                successThreshold: {{ .Values.livenessProbe.successThreshold }}
                failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
              {{- else if .Values.customLivenessProbe }}
              livenessProbe:
                {{- toYaml .Values.customLivenessProbe | nindent 16 }}
              {{- end }}
              {{- if .Values.readinessProbe.enabled }}
              readinessProbe:
                httpGet:
                  port: {{ .Values.readinessProbe.port }}
                  path: {{ .Values.readinessProbe.path }}
                initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
                periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
                timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
                successThreshold: {{ .Values.readinessProbe.successThreshold }}
                failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
              {{- else if .Values.customReadinessProbe }}
              readinessProbe:
                {{- toYaml .Values.customReadinessProbe | nindent 16 }}
              {{- end }}

              volumeMounts:
                - name: shared-binary-volume
                  mountPath: /var/lib/clickhouse/user_scripts
                - name: custom-functions-volume
                  mountPath: /etc/clickhouse-server/functions
                - name: scripts
                  mountPath: /scripts
              {{- if and (not .Values.templates.volumeClaimTemplates) (not .Values.persistence.enabled) }}
                - name: data-volume
                  mountPath: /var/lib/clickhouse
              {{- end }}
              {{- if and (.Values.persistence.enabled) (.Values.persistence.existingClaim) }}
                - name: existing-volumeclaim
                  mountPath: /var/lib/clickhouse
               {{- end }}
              {{- if .Values.persistence.enabled }}
                - name: data-volumeclaim-template
                  mountPath: /var/lib/clickhouse
              {{- end }}
              {{- if .Values.additionalVolumeMounts }}
                {{- toYaml .Values.additionalVolumeMounts | nindent 16 }}
              {{- end }}
              {{- if .Values.resources }}
              resources: {{ toYaml .Values.resources | nindent 16 }}
              {{- end }}
              {{- if .Values.logs.system.enabled }}
              lifecycle:
                postStart:
                  exec:
                    command: ["/bin/bash", "/scripts/wait-until-ready.sh"]
              {{- end }}
            {{- if .Values.logs.system.enabled }}
            - name: logs-system-exporter
              image: {{ include "logs.system.image" . }}
              imagePullPolicy: {{ .Values.logs.system.image.pullPolicy }}
              command:
                - /signoz-collector
              args:
                - --config=/conf/config.yaml
              env:
                - name: K8S_NODE_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: spec.nodeName
                - name: K8S_POD_IP
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: status.podIP
                - name: K8S_HOST_IP
                  valueFrom:
                    fieldRef:
                      fieldPath: status.hostIP
                - name: K8S_POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: K8S_POD_UID
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.uid
                - name: K8S_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: OTEL_RESOURCE_ATTRIBUTES
                  value: "k8s.pod.uid=$(K8S_POD_UID),k8s.pod.ip=$(K8S_POD_IP)"
              {{- if .Values.logs.system.resources }}
              resources: {{ toYaml .Values.logs.system.resources | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: logs-system-config
                  mountPath: /conf
            {{- end }}

            {{- if .Values.extraContainers }}
              {{- toYaml .Values.extraContainers | nindent 14 }}
            {{- end }}

    serviceTemplates:
      - name: service-template
        generateName: {{ include "clickhouse.fullname" . }}
        {{- with .Values.service }}
        metadata:
          labels:
            {{- include "clickhouse.labels" $ | nindent 12 }}
          {{- with .annotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        spec:
          type: {{ .type }}
          ports:
            - name: http
              port: {{ .httpPort }}
              {{ include "service.ifClusterIP" .type }}
            - name: tcp
              port: {{ .tcpPort }}
              {{ include "service.ifClusterIP" .type -}}
        {{- end }}

    {{- if and (.Values.persistence.enabled) (not .Values.persistence.existingClaim) }}
    volumeClaimTemplates:
      - name: data-volumeclaim-template
        reclaimPolicy: Retain
        spec:
          accessModes:
            {{- toYaml .Values.persistence.accessModes | nindent 12 }}
          resources:
            requests:
              storage: {{ .Values.persistence.size }}
        {{- $storageClass := default .Values.persistence.storageClass .Values.global.storageClass -}}
        {{- if $storageClass -}}
        {{- if (eq "-" $storageClass) }}
          storageClassName: ""
        {{- else }}
          storageClassName: {{ $storageClass }}
        {{- end }}
    {{- end }}
    {{- end }}

  {{- if and (.Values.templates.volumeClaimTemplates) (not .Values.persistence.enabled) }}
    volumeClaimTemplates:
    {{- range .Values.templates.volumeClaimTemplates }}
      - name: {{ .name }}
        reclaimPolicy: Retain
        spec:
          accessModes:
            {{- toYaml .accessModes | nindent 12 }}
          resources:
            requests:
              storage: {{ .resources.requests.storage }}
          storageClassName: {{ .storageClassName }}
    {{- end }}
  {{- end }}
