apiVersion: v2
name: clickhouse
description: A Helm chart for ClickHouse
type: application
version: 16.0.3
appVersion: "21.12.3.32"
icon: https://raw.githubusercontent.com/ClickHouse/ClickHouse/master/website/images/logo-400x240.png
dependencies:
  - name: zookeeper
    repository: "https://charts.bitnami.com/bitnami"
    version: 7.0.5
maintainers:
  - name: signoz
    email: hello@signoz.io
