apiVersion: v2
name: clickhouse
description: A Helm chart for ClickHouse
type: application
version: 23.8.8
appVersion: "22.8.8"
icon: https://raw.githubusercontent.com/ClickHouse/ClickHouse/master/website/images/logo-400x240.png
sources:
  - https://github.com/signoz/charts/
  - https://github.com/ClickHouse/ClickHouse
dependencies:
  - name: zookeeper
    repository: https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami
    version: 7.0.5
maintainers:
  - name: SigNoz
    email: hello@signoz.io
    url: https://signoz.io
  - name: prashant-shahi
    email: prashant@signoz.io
    url: https://prashantshahi.dev
