apiVersion: v2
name: signoz
version: 0.0.11
appVersion: "0.7.5"
description: SigNoz Observability Platform Helm Chart
type: application
home: https://signoz.io/
icon: https://signoz.io/img/SigNozLogo-orange.svg
keywords:
  - SigNoz
  - opentelemetry
  - apm
  - monitoring
  - distributed tracing
sources:
  - https://github.com/signoz/charts/
  - https://github.com/signoz/signoz
dependencies:
  - name: clickhouse
    repository: "https://signoz.github.io/charts"
    condition: clickhouse.enabled
    version: 16.0.3
maintainers:
  - name: signoz
    email: hello@signoz.io
  - name: prashant
    email: prashant@signoz.io
